@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-50: 244 249 248;
    --primary-100: 219 236 231;
    --primary-200: 164 206 195;
    --primary-300: 139 189 178;
    --primary-400: 99 158 147;
    --primary-500: 73 131 121;
    --primary-600: 56 105 97;
    --primary-700: 48 85 79;
    --primary-800: 42 69 65;
    --primary-900: 38 59 57;
    --primary-950: 18 33 32;
    --surface-0: 255 255 255;
    --surface-50: 248 250 252;
    --surface-100: 241 245 249;
    --surface-200: 226 232 240;
    --surface-300: 203 213 225;
    --surface-400: 148 163 184;
    --surface-500: 100 116 139;
    --surface-600: 71 85 105;
    --surface-700: 45 55 72;
    --surface-800: 30 41 59;
    --surface-900: 15 23 42;
    --surface-950: 3 6 23;
}

body {
    @apply font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-heading font-bold;
}
